---
layout: splash
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: sh.jpg
excerpt: "All the knowledge, data, and connections you need to make homesteading a reality for you."
intro:
  - excerpt: '"The greatest fine art of the future will be the making of a comfortable living from a small piece of land." &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`-Abraham Lincoln`'
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
